body {
    background-color: blanchedalmond;
}
.navbar-inline {
    display: inline;
    margin-right: 20px;
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0; 
    width: 100%; 
}
.font-40 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'DM Sans';;
}
.font-60 {
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.font-25 {
    font-size: 25px;
    text-align: justify;
    font-family: 'DM Sans';
}
.font-30 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'DM Sans';;
}
.font-18 {
    font-size: 18px;
    font-family: 'DM Sans';
}
.justify {
    text-align: justify;
}
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}
.title {
    color: grey;
}
.bigButton {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
.button:hover {
    background-color: #715163;
}
.subheading {
    font-size: 65px;
    font-family: 'arial'
}
.resp-img  {
    max-width: 200%;
    height: auto;
}
.nonresp-img  {
    max-width: 100%;
    height: auto;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    font-size: 7vw;
    font-family: 'DM Sans';
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 5px #000000;
}
.unresizeable-text#txt {
    resize: none;
}
.button {
    background-color: #B5666F;
    border: none;
    color: white;
    padding: 7px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: 'DM Sans';
    margin: 3px 5px;
    cursor: pointer;
    shape-rendering: rounded-full;
}
.buttonRound {border-radius: 12px;}

.toTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
.toTopButton:hover {
    background-color: #555;
}
*{
    box-sizing: border-box;
}
  
body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
} 
  /* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}
.darken-img {
    filter: brightness(40%);
    max-width: 100%;
    height: auto;
}
.texth1 {
    font-size: 50px;
    word-break: break-all;
}
.row {
    margin: 8px -16px;
}
.row,
.row > .column {
    padding: 7px;
 }
 /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
  }
/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
.content {
    background-color: white;
    padding: 10px;
}
.brmedium {
    display: block;
    margin-bottom: 1em;
}
  
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
    width: 100%;
}
}
.bodycontainer {
    margin:0 auto; /* this will center the page */
    width:1075px; /*  use your width here */
}
* {
    box-sizing: border-box;
  }
  
.containerblog {
    padding: 64px;
  }
  
  /* Clear floats */
  .row:after {
    content: "";
    display: table;
    clear: both
  }
  
  /* 2/3 column */
  .column-66 {
    float: left;
    width: 66.66666%;
    padding: 20px;
  }
  
  /* 1/3 column */
  .column-33 {
    float: left;
    width: 33.33333%;
    padding: 20px;
  }
  
  /* Add responsiveness - make the columns appear on top of each other instead of next to each other on small screens */
  @media screen and (max-width: 1000px) {
    .column-66,
    .column-33 {
      width: 100%;
      text-align: center;
    }
  }
